div.main {
	position: relative;
	left: 25%;
	margin-left: -25%;
}

#dop-block {
	position: relative;
	float: right;
	right: 50%;
}

#block {
	position: relative;
	float: left;
	left: 50%;
}

body {
	font: 14px Arial, Helvetica, sans-serif;
}

td {
	font: 14px Arial, Helvetica, sans-serif;
}

#Features {
	float: left;
}

#buttomEnter {
	clear: left;
}

input {
	font: 14px Arial, Helvetica, sans-serif;
	width: 140px;
}

input.disabled {
	font: 12px Arial, Helvetica, sans-serif;
	font-weight: bold;
}